.locationlist {
  height: 85vh;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (max-width: 30em) {
  .locationlist {
    height: 30vh;
    overflow: auto;
    margin-bottom: 20px
  }
}

.forecastTitle {
  text-align: left;
}
