body {
  background:#eee;
}
.appTitle {
  color: White;
}

.details {
  box-sizing: border-box;
  width:100%;
  padding: 1rem 0;
  height: 85vh;
  overflow-y: auto;
  text-align:left;
  padding:1em;
}
