.locationContainer {
  max-width:100%;
  text-align: left;
  overflow: auto;
  white-space: nowrap;
}

.locationContainer h1 {
  margin: 0;
  padding: 0;
}

.weatherLocationContainer {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  cursor:pointer;
}
